div.amazon-shortcode-box {
    border: 2px solid #cccccc;
    border-radius: 2px;
    margin: 0.5rem;
    padding: 1.5rem;
    display: flex;
}

div.amazon-shortcode-image {
    width: auto
}

div.amazon-shortcode-info {
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}
