body, h1, h2, h3, h4, h5, h6, .navbar-custom { 
    font-family: Helvetica,"Sawarabi Gothic",Meiryo,"メイリオ","Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN",YuGothic,"游ゴシック",Arial,sans-serif; 
}
.sidebar-container {
    color: #404040;
    font-size: 14px;
}

div.amazon-shortcode-box {
    border: 2px solid #cccccc;
    border-radius: 2px;
    margin: 0.5rem;
    padding: 1.5rem;
    display: flex;
}

div.amazon-shortcode-image {
    width: auto
}

div.amazon-shortcode-info {
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}
